$primary-color : #3E50B4;
$accent-color : #FF3F80;
$primary-text : #000000;
$basic-text-color : #ffffff;
$secundary-text : lighten( $primary-text, 10% );
$text-disabled : lighten( $primary-text, 50% );
$primary-background : #F5F5F5;
$primary-font :  'Lato', sans-serif;
